.siContainer {
	display: flex;
	flex-direction: row;
	border: 1px solid lightgray;
	gap: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
}

.siImgContainer {
	flex: 1;
	display: flex;
	justify-content: center;
	margin-top: 8px;
}

.siContentContainer {
	flex: 3;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.siDetails {
	flex: 1;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.siImg {
	width: 200px;
	height: 200px;
}

.siTitle {
	color: var(--secondary-color);
}
.siTaxiOp {
	background-color: #00761b;
	color: white;
	width: 105px;
	padding: 5px;
	border-radius: 10px;
}
.siSubtitle {
	font-weight: bold;
}

.siFeatures {
	font-size: 14px;
}
.siCancelOp {
	font-size: 14px;
	font-weight: bold;
	color: #008009;
}
.siCancelOpSubtitle {
	font-size: 14px;
	font-weight: lighter;
	color: #008009;
}
.siDetailTexts {
	text-align: right;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.siPrice {
	font-size: 24px;
}

.siTaxOp {
	font-size: 12px;
	color: gray;
}

.siCheckButton {
	background-color: #0071c2;
	color: white;
	font-weight: bold;
	padding: 10px 5px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
.siRating {
	display: flex;
	justify-content: space-between;
}

.siRating > span {
	font-weight: 500;
}
.siRating > button {
	background-color: var(--primary-color);
	color: white;
	padding: 5px;
	font-weight: bold;
	border: none;
}

.siDetailTexts {
	text-align: right;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
